.center{
	text-align: center;
	margin: auto;
}
.fa{
	display: block;
	margin: auto;
}
a{
	display: inline-block;
}
a:hover{
	text-decoration: none;
	display: inline-block;
}
.fav1{
	color: red;
}
.volume{
	margin-top:15px;
	width: 18%;
	display: inline-block;
}
.text-right{
	text-align: right;
}
.drink-cursor{
	cursor: pointer;
}
.wrapper{
	margin-bottom: 60px; 
}
.progress.navbar-fixed-bottom{
	margin: 0;
}
.margin-20{
	margin: 20px 0;
}
.drink{
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.05);
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.05);
}
.img-center{
	display: block;
	margin: auto;
}