<!DOCTYPE html>
<html ng-app='Drink' lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src='lib/angular.js'></script>
	<script type="text/javascript" src='lib/angular-route.js'></script>
	<script type="text/javascript">
    	angular.module('Drink', []);
    </script>
    <script type="text/javascript" src='js/app.js'></script>
	<script type="text/javascript" src='js/drinkCtrl.js'></script>
	<script type="text/javascript" src='js/setCtrl.js'></script>
	<script type="text/javascript" src='js/addDrinksCtrl.js'></script>
	<script type="text/javascript" src='js/drinksCtrl.js'></script>
	<script type="text/javascript" src='js/timerCtrl.js'></script>
	<title></title>
	<base href="/">
</head>
<body>
	
	<div class="container wrapper">
	<div class="row" ng-view></div>
	<div class="progress navbar-fixed-bottom">
	  <div class="progress-bar" role="progressbar" aria-valuenow="70"
	  aria-valuemin="0" aria-valuemax="100" style="width:{{currentSpirit/rootSpirit*100}}%">
	  </div>
	</div>

</div>
</body>
</html>