<div class="row">
  <a href="/drinks" class="fa fa-arrow-left fa-2x col-xs-5">Назад</a>
</div>
<div class="col-xs-12">
	<div ng-init='volume' class="center">
		<h2>Добавить напиток</h2>
		<form name="addDrink">
		    <p>Напиток:<br> 
		    <input class="form-control" type="text" ng-model="name"></p>
		    <br>
		    <p>Спирт: {{spirit}}<br> 
		    <input class="col-xs-11 form-control" type="range" min="1" max="100" ng-model='spirit' id="spirit" value="{{spirit}}"></p>
		    <br>
		</form>
		<div class="volume"><a href=""><img ng-click='setVolume(50)' class="img-responsive" src="img/whiskey.png"></a></div>
		<div class="volume"><a href=""><img ng-click='setVolume(100)' class="img-responsive" src="img/glass-of-water.png"></a></div>
		<div class="volume"><a href=""><img ng-click='setVolume(250)' class="img-responsive" src="img/champagne.png"></a></div>
		<div class="volume"><a href=""><img ng-click='setVolume(330)' class="img-responsive" src="img/beer.png"></a></div>
		<div class="volume"><a href=""><img ng-click='setVolume(500)' class="img-responsive" src="img/wine-bottle.png"></a></div>
		<br>
		Объем:{{volume}}<br>
		<input class="btn btn-default" type="submit" value="Добавить" ng-click='postDrink()'>
	</div>
</div>