<div class="row">
  <a href="/" class="fa fa-arrow-left fa-2x col-xs-5"></a>
  <a href="/addDrinks" class="fa fa-plus fa-2x col-xs-5 pull-right text-right"></a>
</div>

<input type="" class="form-control margin-20" name="" ng-model='searchWord' placeholder="Поиск...">
<div ng-mouseover='button=1' ng-mouseleave="button=0" class="col-xs-6 drink text-center" ng-repeat='x in drinks | orderBy: "-fav" | filter:searchWord'>
  <h1 ng-click="addSpirit(x.spirit , x.volume)"><img class="img-responsive img-center" src="img/{{x.volume}}.png">{{x.name}}</h1>
  <p>{{x.volume}}мл - {{x.spirit}}%</p>
  <p>
    <a ng-click='setFav(x)' class="col-xs-4 btn btn-default btn-fav fav{{x.fav}} fa fa-star" href=""></a>
    <!--<a href="" ng-show='button' class="col-xs-4 btn btn-primary fa fa-pencil"></a>-->
    <a ng-click='delDrink(x)' ng-show='button' class="col-xs-4 btn btn-danger fa fa-close" href=""></a>
  </p>
</div>
<div>{{passingParam}}</div>