<!--<input type="text" ng-model="weight" name=""><a href="" ng-click='calculate()'>SetWeight</a>-->
	<div class="row">
		<div class="col-xs-6 center"><a href="/drinks" ng-click='setSpirit(1)'><img src="img/sad.png"><br>Отдохнуть</a></div>
		<div class="col-xs-6 center"><a href="/drinks" ng-click='setSpirit(15)'><img src="img/happy.png"><br>Прибухнуть</a></div>
	</div>
	<div class="row">
		<div class="col-xs-6 center"><a href="/drinks" ng-click='setSpirit(25)'><img src="img/happy-1.png"><br>Злоупотреблять</a></div>
		<div class="col-xs-6 center"><a href="/drinks" ng-click='setSpirit(30)'><img src="img/dislike.png"><br>Нажраться</a></div>
	</div>
	<div class="col-xs-12 center"><a href="/setting"><img src="img/settings.png"></a></div>