<div class="row">
  <a href="/" class="fa fa-arrow-left fa-2x col-xs-5">Назад</a>
</div>
<h1>Настройки</h1>
<h3>Масса<span>: {{weight}}</span></h3>
<div class="form-group"><input type="range" min="40" max="180" ng-model="weight" id="weight" value="70"></div>
<h3>Воздействие алкоголя: {{checked}}</h3>
<div class="radio">
  <label><input type="radio" name="optradio" ng-click="setWater(65)">Сильное</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio" ng-click="setWater(70)">Среднее</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio" ng-click="setWater(75)">Слабое</label>
</div>
<a href="/" class="btn btn-default" ng-click="setWeight()">Сохранить</a>